<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Integra sertão</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body >



		<div class=" header">
			<h1>Integra sertão</h1>
		</div>

		<div class="row" >

			<div class="col s12 section" >
				{% block nav%}

				{% endblock %}
            </div>

			<div class="col s12 section">
				{% block body %}

				{% endblock %}
			</div>

            <div class="col s12 section">
                {%block footer%}

                {%endblock%}
            </div>

		</div>

</body>
</html>