<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Perguntas</td>
            <td>Data de publicação</td>
            <td>Choices</td>
        </tr>
        <tr>
            <td>{{questao.question_text}}</td>
            <td>{{questao.pub_date}}</td>
            <td>{{questao.choices.all}}</td>
        </tr>
    </table>
</body>
</html>


{% extends "base.html" %}

{% block body %}
<h3>Boas vindas</h3>

    <table border="1" class="panel panel-default">
        <tr align="center">
            <td>Questao</td>
            <td>Date</td>
            <td>Aberta</td>
        </tr>
        {%for questao in questoes%}
            <tr>
                <td>
                 {{questao.question_text}}
                </td>
                <td>
                 {{questao.pub_date}}
                </td>
                <td>
                 {{questao.closed}}
                </td>
            </tr>
        {%endfor%}
    </table>

{% endblock %}